
   <div class="container mt-3" *ngIf="listTasks">
       <h3><strong style="text-transform: uppercase;">{{currentUser.username}} task's</strong></h3>
     <ul class="list-group"  *ngFor="let task of listTasks">
      <li class="list-group-item"><strong>{{task.label}}</strong>:{{task.state}}</li>
      <li class="list-group-item">{{task.dueDate}}</li>
    </ul>
   </div>


